---
import Counter from "../components/Counter";
import CharacterName from "../components/CharacterName";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<title>Astro</title>
	</head>
	<body>
		<Counter client:idle />
		<CharacterName />
		<button hx-get="/clicked" hx-swap="outerHTML"> Click Me</button>
	</body>
</html>